.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgb(240, 240, 240);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
  }

  body.dark-mode .feature-container{
    background-color: rgb(38, 38, 38);
  }

  .featureDiv{
    display: flex;
  }

  .feature-item div{
    display: flex;
    flex-direction: column;
  }

  .feature-item div p{
    text-align: left;
  }
  
  .featureTectDiv{
    display: flex;
    flex-direction: column;
  }
  .feature-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .feature-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    transition: transform 0.3s ease;
  }
  
  .feature-icon:hover {
    transform: scale(1.2);
  }
  
  .feature-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 900px) {
    .feature-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
  }
  
  @media screen and (max-width: 480px) {
    .feature-container {
      grid-template-columns: 1fr;
    }
  
    .feature-item {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  