.footerContainer {
  margin-top: 2rem;
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  padding: 1.5rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.socialLinks{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
body.dark-mode .footerContainer {
  background-color: #000000;
  color: white;
}

.footQuickLinks{
  display: flex;
  gap: 2rem;
}

.footerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.footQuickLinktitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSchoolDiv{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.developername{
  text-align: center;
}

.footerSchool{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}

.footerLink {
  color: inherit; /* Inherit text color */
  text-decoration: none;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #f39c12;
}

.socialIcon {
  color: inherit; /* Inherit text color */
  font-size: 1.5rem;
  transition: color 0.3s;
}

.socialIcon:hover {
  color: #f39c12;
}

.footLink {
  display: inline-block;
  position: relative;   
}

.footLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;            
  width: 0;
  background-color: #f39c12; 
  transition: width 0.3s ease-in-out; 
}

.footLink:hover::after {
  width: 100%; 
}

@media (max-width: 768px) {
  .footerContent, .footerSchool{
    flex-direction: column;
    align-items: flex-start;
  }
  .footerContent{
    gap: 2rem;
  }
}

@media (max-width: 400px) {
  .footerContent, .footerSchool{
    flex-direction: column;
    align-items: flex-start;
  }
  .footerContent{
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .footQuickLinks{
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
  }
  .developername{
    text-align: left;
  }
  .socialLinks{
    text-align: left;
  }
}