.footerContainer {
  margin-top: 2rem;
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  padding: 1.5rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.socialLinks{
  display: flex;
  gap: 1rem;
}
body.dark-mode .footerContainer {
  background-color: #000000;
  color: white;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;
}

.footerSchoolDiv{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footerSchool{
  display: flex;
  gap: 2rem;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.footerLink {
  color: inherit; /* Inherit text color */
  text-decoration: none;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #f39c12;
}

.socialIcon {
  color: inherit; /* Inherit text color */
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footerContent p{
  text-align: left;
}

.socialIcon:hover {
  color: #f39c12;
}

@media (max-width: 768px) {
  .footerContent, .footerSchool{
    flex-direction: column;
    align-items: flex-start;
  }
  .footerContent{
    gap: 2rem;
  }
}

@media (max-width: 400px) {
  .footerContent, .footerSchool{
    flex-direction: column;
    align-items: flex-start;
  }
  .footerContent{
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}