.navList {
  list-style-type: none; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  gap: .7rem;
}

.navItem {
  font-size: medium;
  padding: .4rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500; 
  text-decoration: none; 
  cursor: pointer; 
  transition: color 0.3s ease; 
}

.navItem:hover{
  color: #f39c12;
}

body.dark-mode .navItem:hover {
  color: #f39c12; 
}

.navItem:active {
  color: #e67e22; 
}

ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  position: relative;   
  padding: 10px 20px;
}

li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;            
  width: 0;
  background-color: #f39c12; 
  transition: width 0.3s ease-in-out; 
}

li:hover::after {
  width: 100%; 
}
